@font-face {
  font-family: 'Bagoss Condensed';
  src: url('../public/fonts/font/BagossCondensedTRIAL-Regular.woff2') format('woff2'),
       url('../public/fonts/font/BagossCondensedTRIAL-Regular.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  background-color: #B1D8FC;
  font-family: 'Bagoss Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

code {
  font-family: 'Bagoss Condensed', sans-serif;
}